body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}
header {
  background-color: #000;
  color: #fff;
  text-align: center;
}
header h1 {
  font-family: "Passion One", sans-serif;
  font-variant: small-caps;
  font-size: 10vw;
  margin: 0px;
  padding-top: 60px;
}
header p {
  font-size: 1.5rem;
  margin-top: 0px;
  padding-bottom: 40px;
}
a {
  font-size: 1.5rem;
  font-family: "Sriracha", cursive;
  text-decoration: none;
  color: #fff;
}
header a:hover {
  text-decoration: underline;
}
section {
  background-color: #fff;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
section p {
  font-family: "Sriracha", cursive;
  font-size: 3.5vw;
  margin-left: 40px;
  line-height: 2em;
  color: #000;
}
.bg p {
  margin-top: 100px;
  margin-bottom: 110px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: inline-block;
}
.bg1 {
  background-image: url("./imagens/background001.jpg");
}
.bg2 {
  background-image: url("./imagens/background002.jpg");
}
.bgimg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
}
@media (max-width: 576px) {
  section p {
    font-size: 1.8rem;
  }
  footer {
    padding: 10px;
    font-size: 16px;
  }
  footer a {
    color: #add8e6;
    padding: 10px;
    font-size: 16px;
  }
}
