body {
  display: grid;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  min-height: 100vh;
}
header {
  background-color: #000;
  color: #fff;
  text-align: center;
}
header h1 {
  font-family: "Passion One", sans-serif;
  font-variant: small-caps;
  font-size: 10vw;
  margin-top: 40px;
  margin-bottom: 20px;
}
header p {
  margin-bottom: 40px;
}
a {
  font-family: "Sriracha", cursive;
  text-decoration: none;
  color: #fff;
}
header a:hover {
  text-decoration: underline;
}
section {
  background-color: #fff;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
section p {
  font-family: "Sriracha", cursive;
  font-size: 4vw;
  margin-left: 40px;
  line-height: 2em;
  color: #000;
}
.bg1 p {
  margin-top: 100px;
  margin-bottom: 110px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: inline-block;
}
.bg1 {
  background-image: url("./imagens/background001.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg2 p {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: inline-block;
}
.bg2 {
  background-image: url("./imagens/background002.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
